  GNU nano 6.2                                                               /etc/systemd/system/stimkysticker-systempython.service
[Unit]
Description="StimkySticker System Python Daemon"
Wants=network.target
After=syslog.target network-online.target

[Service]
WorkingDirectory=/home/<YOUR_USERNAME>/stimkysticker/
User=k
Type=simple
ExecStart=/usr/bin/python3 -m stimkysticker
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
